body{
    font-family: 'Poppins', sans-serif;
    background-color: #E5E5E5;
}
label{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #5A5A5A;
}
.bi{
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    line-height: 24px;
    color: #FE633D;
}
.rect-8{
    background-color: #F2F2F7;
    border-radius: 10px;
    padding: 15px 20px;
    margin-bottom: 15px;
}

.color1 .bi, 
.color2 .bi, 
.color3 .bi, 
.color4 .bi, 
.color5 .bi 
{
    margin-right: 5px;
}
.color1, 
.color2, 
.color3, 
.color4 
{
    padding: 5px 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    
}
.color1 .bi,
.color1 .text1  
{
    color: #FF5E7D;
    font-weight: 600;
font-size: 30px;
}
    
.color2 .bi,
.color2 .text2  
{
    color: #599DEE;
    font-weight: 600;
    font-size: 25px;
}
.color3 .bi,
.color3 .text3  
{
    color: #FFCA60; 
    font-weight: 600;
font-size: 30px;
}
.color4 .bi,
.color4 .text4  
{
    color: #FE633D; 
    font-weight: 600;
font-size: 30px;
}
.color5 .bi,
.color5 .text5  
{
    color: #3ED298; 
    font-weight: 600;
font-size: 30px;
}
.color6 .bi,
.color6 .text6  
{
    color: #FCCD39; 
    font-weight: 600;
    font-size: 30px;
}
    
 
.col-2{
    color: #878787;
    font-weight: bold;
    font-size: 20px;
    line-height: 45px;
}
.col-7{
    color: #615F5F;
    font-weight: bold;
    font-size: 15px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0px 15px;
}
.col-3,
.col-7{
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.pad{
    padding: 50px 10px;
    background-color: #F2F2F7;
    margin-bottom: 20px;
}
.card{
    background-color: #F2F2F7;
    padding: 16px 13px;
    box-sizing: border-box;
    color: #757373;
    margin: 15px 20px;
    border-radius: 8px;
    text-align: center;
    border-top: 5px #FE633D solid !important;
}
.b-skills {
    border-top: 1px solid #f9f9f9;
    padding-top: 46px;
    text-align: center;
}

.b-skills:last-child {
    margin-bottom: -30px;
}

.b-skills h2 {
    margin-bottom: 50px;
    font-weight: 900;
    text-transform: uppercase;
}

.skill-item {
    position: relative;
    max-width: 250px;
    width: 100%;
    margin-bottom: 30px;
    color: #555;
}

.chart-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 100%;
    margin-bottom: 27px;
}

.skill-item .chart,
.skill-item .chart canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

.skill-item .chart:before {
    content: "";
    width: 0;
    height: 100%;
}

.skill-item .chart:before,
.skill-item .percent {
    display: inline-block;
    vertical-align: middle;
}

.skill-item .percent {
    position: relative;
    line-height: 1;
    font-size: 40px;
    font-weight: 900;
    z-index: 2;
}

.skill-item .percent:after {
    content: attr(data-after);
    font-size: 20px;
}

p {
    font-weight: 900;
}
.container-md,
.container-lg{
    box-sizing: border-box;
}
.card .col-2 {
    font-size: 13px;
}
.card .col-7 {
    font-size: 16px;
    font-weight: 800px;
}
.card .text1{
    font-size: 25px !important;
}
.card h1{
    font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 24px;
color: #757373;
}